@define-color foreground #c2c4c5;
@define-color background #1D1338;

@define-color color7 #c2c4c5;
@define-color color9 #6B1D56;

@define-color color10 #6B1D56;
@define-color color11 #044873;
@define-color color13 #056E9F;

* {
    font-size: 15px;
    font-family: "CodeNewRoman Nerd Font Propo";
}

window#waybar {
    all: unset;
}

.modules-left {
    padding: 7px;
    margin: 0.5rem 0 0 0.5rem;
    border-radius: 10px;
    background: alpha(@background, 0.6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.modules-center {
    padding: 7px;
    margin: 0.5rem 0 0 0;
    border-radius: 10px;
    background: alpha(@background, .6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.modules-right {
    padding: 7px;
    margin: 0.5rem 0.5rem 0 0;
    border-radius: 10px;
    background: alpha(@background, .6);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

tooltip {
    background: @background;
    color: @color7;
}

#clock:hover,
#pulseaudio:hover,
#bluetooth:hover,
#network:hover,
#custom-vpn:hover,
#battery:hover {
    transition: all .3s ease;
    color: @color9;
}

#clock {
    padding: 0px 5px;
    color: @color7;
    transition: all .3s ease;
}

#workspaces {
    padding: 0px 5px;
}

#workspaces button {
    all: unset;
    padding: 0px 5px;
    color: alpha(@color9, .4);
    transition: all .2s ease;
}

#workspaces button:hover {
    color: @color9;
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 0.5s ease;
}

#workspaces button.active {
    color: @color9;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#workspaces button.empty {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .2);
}

#workspaces button.empty:hover {
    color: alpha(@color9, .4);
    text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
    transition: all 0.5s ease;
}

#workspaces button.empty.active {
    color: @color9;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, .5);
}

#pulseaudio {
    padding: 0px 0.8rem;
    color: @color7;
    transition: all .3s ease;
}

#bluetooth {
    padding: 0px 0rem 0rem 0.4rem;
    transition: all .3s ease;
    color: @color7;
}

#network {
    padding: 0px 0.75rem;
    transition: all .3s ease;
    color: @color7;
}

#custom-vpn {
    padding: 0px 0.6rem 0rem 0rem;
    transition: all .3s ease;
    color: @color7;
}

#battery {
    padding: 0px 0.5rem;
    transition: all .3s ease;
    color: @color7;
}

#battery.charging {
    color: #26A65B;
}

#battery.warning:not(.charging) {
    color: #ffbe61;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
